<div class="registration-pending">
  <div class="overlay"></div>
  <div class="steps">
    <h3 class="title">Agora só falta confirmar seu email...</h3>
    <div class="step">
      <div class="number">1</div>
      <h4>Acesse seu email</h4>
    </div>
    <div class="step">
      <div class="number">2</div>
      <h4>Abra nosso email</h4>
      <h4>"Confirme sua Inscrição"</h4>
    </div>
    <div class="step">
      <div class="number">3</div>
      <h4>Clique no botão</h4>
      <h4>"Sim, inscreva-me nesta lista"</h4>
    </div>
  </div>
</div>
