.background__color--primary {
  background-color: $color--primary;
}

.background__color--info {
  background-color: $color--info;
}

.background__color--error {
  background-color: $color--error;
}

.text--highlight {
  color: $color--primary;
}
