.container {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a content b";
  height: inherit;
}

@media (max-width: $width--desktop) {
  .container {
    grid-template-columns: 1fr 1024px 1fr;
  }
}

@media (max-width: $width--laptop) {
  .container {
    grid-template-columns: 1fr 800px 1fr;
  }
}

@media (max-width: $width--tablet) {
  .container {
    grid-template-columns: 1fr 600px 1fr;
  }
}

@media (max-width: $width--mobile-large) {
  .container {
    grid-template-columns: 1fr 360px 1fr;
  }
}

@media (max-width: $width--mobile-small) {
  .container {
    grid-template-columns: 1fr 300px 1fr;
  }
}

