* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $base__font-family--primary;
  color: $color__gray--dark;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="email"] {
  box-sizing: content-box;
  height: 60px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid $color__gray--light;
  font-size: 20px;
  font-family: $base__font-family--secondary;
  color: $color__gray--dark;
  text-indent: 10px;
}

@media (max-width: $width--tablet) {
  input[type="text"],
  input[type="email"] {
    height: 50px;
  }
}

@media (max-width: $width--mobile-large) {
  $base__font-size: 14;

  html {
    font-size: px($base__font-size);
  }
}

@media (max-width: $width--mobile-small) {
  $base__font-size: 10;

  html {
    font-size: px($base__font-size);
  }

  input[type="text"],
  input[type="email"] {
    font-size: rem(24);
  }
}
