$base__font-family--primary: 'Roboto Condensed', sans-serif !default;
$base__font-family--secondary: 'Open Sans', sans-serif !default;

$base__font-size: 16 !default;

$width--desktop: 1200px !default;
$width--laptop: 1024px !default;
$width--tablet: 800px !default;
$width--mobile-large: 600px !default;
$width--mobile-small: 360px !default;

$color--primary: #E67E22 !default;
$color--info: #2980B9 !default;
$color--error: #f71700 !default;
$color__gray--dark: #333 !default;
$color__gray--light: #ddd !default;
$color__white: #fff !default;
$color__black: #000 !default;
