<div class="author">
  <div class="author__container">
    <h2 class="author__title">Conheça o <span class="text--highlight">Autor</span></h2>
    <p class="author__text">
      Thomas Alvarenga tem 9 anos de experiência na área de desenvolvimento de software
      e sempre buscou por boas práticas e metodologias ágeis que pudessem transformar
      a maneira como se trabalha em equipe em um projeto.
      <br/><br/>
      Atuando como Scrum Master há 4 anos ajudou na implementação da cultura ágil
      em 3 empresas e tem o objetivo de transformar individuos e equipes com as
      metodologias ágeis assim como foi transformado.
    </p>
    <img class="author__photo" src="{{ "/assets/img/profile.png" | relative_url }}" />
  </div>
</div>
