<div class="author">
  <div class="container">
    <div class="author__container">
      <h2 class="author__title">Conheça o <span class="text--highlight">Autor</span></h2>
      <div class="author__text">
        <p>
          Thomas Alvarenga tem 9 anos de experiência na área de desenvolvimento de software
          e sempre buscou por boas práticas e metodologias ágeis que pudessem transformar
          a maneira como se trabalha com projetos complexos.
        </p>
        <p>
          Atuando como Scrum Master dobrou seu salário em menos de 2 anos e atingiu
          resultados expressivos com sua equipe como:
        </p>
        <ul>
          <li>Redução de 61% nos custos de infraestrutura do projeto;</li>
          <li>Taxa de entrega média (Throughput) de 7 histórias de usuário por semana;</li>
          <li>Tempo de entrega médio em produção (Lead Time) de 4 dias.</li>
        </ul>
      </div>
      <img class="author__photo" src="{{ "/assets/img/profile.png" | relative_url }}" />
    </div>
  </div>
</div>
