.ebook {
  background-color: $color--primary;
  height: 250px;
  margin-bottom: 25px;
}

.ebook__container {
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 300px 500px 1fr;
  grid-template-areas: "g ebook cta h";
}

.ebook__cta {
  grid-area: cta;
  margin: auto;
}

.ebook__description {
  color: $color__white;
  font-weight: 400;
  margin-bottom: 20px;
}

.ebook__image {
  grid-area: ebook;
  margin: -100px auto;
  z-index: 1;
}

@media (max-width: $width--tablet) {
  .ebook {
    height: 220px;
  }

  .ebook__container {
    grid-template-columns: 250px 1fr;
    grid-template-areas: "ebook cta";
  }

  .ebook__description {
    font-size: 20px;
  }

  .ebook__image {
    width: 200px;
    margin-top: -70px;
  }
}

@media (max-width: $width--mobile-large) {
  .ebook {
    height: 550px;
  }

  .ebook__container {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas: "ebook"
                         "cta";
  }

  .ebook__image {
    width: 250px;
    margin: -20px auto;
  }

  .ebook__description {
    text-align: center;
  }
}
