.videos {
  margin: 10px auto;
  height: 450px;
}

.videos__container {
  grid-area: content;
  display: grid;
  grid-template-rows: 100px 230px 1fr;
  grid-template-areas: "title"
                       "list"
                       "subscribe";
}

.videos__title {
  grid-area: title;
  font-weight: 500;
  margin: auto 10px;
  text-align: center;
}

.videos__list {
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.videos__item {
  margin: 10px auto;
  width: 250px;
  padding: 5px;
}

.videos__link {
  font-family: $base__font-family--secondary;
  font-weight: 500;
  color: $color__black;
  margin: 5px;
  text-align: center;
}

.videos__subscribe {
  grid-area: subscribe;
  margin: auto;
}

.videos__cta {
  text-align: center;
  font-weight: 500;
  display: inline;
}

.videos__button {
  background-color: $color--error;
  color: $color__white;
  border-radius: 2px;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

@media (max-width: $width--tablet) {
  .videos {
    height: 400px;
  }

  .videos__container {
    grid-template-rows: 100px 230px 1fr;
  }

  .videos__item {
    width: 180px;
  }

  .videos__image {
    width: 180px;
  }
}

@media (max-width: $width--mobile-large) {
  .videos {
    height: 1200px;
  }

  .videos__container {
    grid-template-rows: 180px 800px 1fr;
  }

  .videos__title {
    font-size: 36px;
  }

  .videos__list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .videos__item {
    width: 250px;
  }

  .videos__image {
    width: 250px;
  }

  .videos__link {
    width: 100%;
    font-size: 24px;
  }

  .videos__cta {
    display: block;
    font-size: 30px;
  }

  .videos__button {
    display: block;
    text-align: center;
    width: 150px;
    margin: 10px auto;
  }
}
