<div class="bullets">
  <div class="container">
    <div class="bullets__container">
      <img class="bullets__ebook" src="{{ "/assets/img/ebook-300.png" | relative_url }}" />
      <div class="bullets__text-container">
        <h2 class="bullets__title">
          Por que baixar este <span class="text--highlight">Ebook</span>?
        </h2>
        <div class="bullets__text">
          <p>
            Nesse ebook eu falo sobre os sete erros que me atrasaram no processo de implementar
            as metodologias ágeis da maneira correta e que vão te fazer economizar dois anos
            de aprendizado.
          </p>
          <p>
            Você vai aprender ainda:
            <ul>
              <li>Porque as pessoas tem dificuldade para começar com os métodos ágeis.</li>
              <li>Como medir o nível de agilidade da sua equipe para saber se estão no caminho certo.</li>
              <li>O segredo para acabar com problemas de comunicação de todos envolvidos no projeto.</li>
              <li>Como ter o foco correto nas reuniões e não perder horas só conversando.</li>
              <li>O principal erro que te impede de entregar software de qualidade dentro do prazo.</li>
              <li>A melhor maneira de coletar feedback do seu usuário.</li>
            </ul>
          </p>
        </div>
        <div class="bullets__form">
          <button
            data-micromodal-trigger="modal-1"
            class="button--cta background__color--primary">{{ page.cta_button }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
