<div class="call-to-action">
  <div class="call-to-action__mask"></div>
  <div class="container">
    <div class="call-to-action__container">
      <div class="call-to-action__text-container">
        <h2 class="call-to-action__title">{{ page.cta_title }}</h2>
        <p class="call-to-action__text">{{ page.cta_text }}</p>
        <div class="call-to-action__form">
          <button
            data-micromodal-trigger="modal-1"
            class="button--cta background__color--primary">{{ page.cta_button }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
