<div class="ebook-presentation">
  <div class="ebook-presentation__container">
    <img class="ebook-presentation__cover" src="{{ "/assets/img/ebook-250.png" | relative_url }}" />
    <div class="ebook-presentation__text-container">
      <h2 class="ebook-presentation__title text--highlight">
        7 Erros Comuns ao Implementar Metodologias Ágeis e Como Evitá-los
      </h2>
      <p class="ebook-presentation__text">
        Baixe nosso ebook e aprenda como evitar os sete erros mais comuns ao implementar
        as metodologias ágeis que você pode estar cometendo com sua equipe hoje,
        mesmo que já tenha experiência na área.
      </p>
    </div>
    <div class="ebook-presentation__form">
      {%- include mailchimp-forms/ebook-7-erros.html -%}
    </div>
  </div>
</div>
