<div class="ebook-presentation">
  <div class="ebook-presentation__container">
    <img class="ebook-presentation__cover" src="{{ "/assets/img/ebook.png" | relative_url }}" />
    <div class="ebook-presentation__text-container">
      <h2 class="ebook-presentation__title text--highlight">
        10 Erros Comuns ao Implementar Metodologias Ágeis e Como Evitá-los
      </h2>
      <p class="ebook-presentation__text">
        Aprenda como medir o nível de agilidade da sua equipe
        para aumentar a produtividade e saber onde estão errando
      </p>
    </div>
    <div class="ebook-presentation__form">
      {%- include mailchimp-forms/ebook-10-erros.html -%}
    </div>
  </div>
</div>
