<div class="ebook">
  <div class="container">
    <div class="ebook__container">
      <img class="ebook__image" src="{{ "/assets/img/ebook-250.png" | relative_url }}" />
      <div class="ebook__cta">
        <h3 class="ebook__description">
          Baixe o ebook gratuito e descubra os sete erros que me atrasaram em dois
          anos até aprender a aplicar as metodologias ágeis da maneira certa!
        </h3>
        <button data-micromodal-trigger="modal-1" class="button--cta background__color--info">{{ page.cta_button }}</button>
      </div>
    </div>
  </div>
</div>
