.author {
  height: 300px;
  margin-bottom: 50px;
}

.author__container {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 700px 300px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "x title title y"
                       "x text photo y";
}

.author__title {
  grid-area: title;
  font-size: 36px;
  font-weight: 500;
  text-align: left;
}

.author__text {
  grid-area: text;
  font-size: 16px;
  line-height: 1.5;
  font-family: $base__font-family--secondary;
  margin: 20px 30px 0 0;

  p {
    margin: 10px 0;
  }

  ul {
    margin: 10px 0 10px 20px;
  }
}

.author__photo {
  grid-area: photo;
  width: 250px;
  margin: auto;
  border-radius: 5px;
}

@media (max-width: $width--laptop) {
  .author {
    height: 350px;
  }

  .author__container {
    grid-template-columns: 1fr 500px 250px 1fr;
  }
}

@media (max-width: $width--tablet) {
  .author {
    height: 450px;
    margin-bottom: 30px;
  }

  .author__container {
    grid-template-columns: 1fr 380px 200px 1fr;
  }

  .author__photo {
    width: 200px;
  }
}

@media (max-width: $width--mobile-large) {
  .author {
    height: 840px;
    margin-bottom: 10px;
  }

  .author__container {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 300px 1fr;
    grid-template-areas: "title"
                         "photo"
                         "text";
  }

  .author__title {
    text-align: center;
    margin: auto;
  }

  .author__photo {
    width: 250px;
  }

  .author__text {
    font-size: 18px;
    margin: 0 10px;
  }
}

@media (max-width: $width--mobile-small) {
  .author {
    height: 960px;
    margin-bottom: 10px;
  }
}

