.author {
  margin-top: 100px;
  margin-bottom: 50px;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "a b c";
}

.author__container {
  grid-area: b;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 2fr;
  grid-template-areas: "x x"
                       "y z";
}

.author__title {
  grid-area: x;
  font-size: rem(36);
  font-weight: 500;
  text-align: left;
}

.author__text {
  grid-area: y;
  font-size: rem(20);
  line-height: 1.4;
  font-weight: 300;
  margin: auto 30px auto auto;
}

.author__photo {
  grid-area: z;
  width: 250px;
  margin: auto;
  border-radius: 5px;
}

@media (max-width: $width--desktop) {
  .author {
    grid-template-columns: 0.8fr 2.4fr 0.8fr;
  }
}

@media (max-width: $width--laptop) {
  .author {
    grid-template-columns: 0.6fr 2.8fr 0.6fr;
  }
}

@media (max-width: $width--tablet) {
  .author {
    grid-template-columns: 0.5fr 3fr 0.5fr;
  }

  .author__photo {
    width: 200px;
  }

  .author__text {
    font-size: rem(18);
  }
}

@media (max-width: $width--mobile-large) {
  .author {
    margin-top: 20px;
    height: 650px;
  }

  .author__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-areas: "x"
                         "z"
                         "y";
  }

  .author__title {
    width: 300px;
    text-align: center;
    margin: auto;
  }

  .author__text {
    width: 300px;
    text-align: justify;
    font-size: rem(20);
    margin: auto;
  }
}

@media (max-width: $width--mobile-small) {
  .author__text {
    font-size: rem(28);
  }
}
