.footer {
  background-color: $color__gray--dark;
  height: 150px;
  font-size: 18px;
}

.footer__container {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 200px 500px 200px 1fr;
  grid-template-areas: "x icon disclaimer social y";
}

.footer__disclaimer {
  grid-area: disclaimer;
  margin: auto;
  color: $color__white;
  font-weight: 300;
  text-align: center;
}

.footer__link {
  color: $color__white;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
}

.footer__icon {
  grid-area: icon;
  width: 100px;
  display: block;
  margin: auto;
}

.footer__social {
  grid-area: social;
  margin: auto;
}

.footer__social-link {
  width: 36px;
  margin: 0 10px;
}

@media (max-width: $width--laptop) {
  .footer__container {
    grid-template-columns: 1fr 150px 450px 150px 1fr;
  }
}

@media (max-width: $width--tablet) {
  .footer__container {
    grid-template-columns: 1fr 420px 150px 1fr;
    grid-template-areas: "x disclaimer social y";
  }

  .footer__icon {
    display: none;
  }
}

@media (max-width: $width--mobile-large) {
  .footer {
    height: 200px;
  }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "disclaimer"
                         "social";
  }
}

