.header {
  height: 100px;
}

.header__link {
  grid-area: content;
  margin: auto;
}

.header__logo {
  width: 400px;
}

@media (max-width: $width--mobile-large) {
  .header {
    height: 50px;
  }

  .header__logo {
    width: 250px;
  }
}
