.mini-hero {
  display: grid;
  height: 150px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "a"
                       "b"
                       "c";
  background-image: url('/assets/img/bg.jpg');
  background-size: cover;
  background-position: center;
  color: $color__white;
  z-index: -1;
}

.mini-hero__mask {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 0;
}

.mini-hero__container {
  grid-area: b;
  z-index: 1;
  margin: auto;
}

.mini-hero__title {
  padding: 0 10px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: $width--tablet) {
  .mini-hero {
    height: 100px;
  }

  .mini-hero__mask {
    height: 100px;
  }
}

@media (max-width: $width--mobile-large) {
  .mini-hero {
    height: 80px;
  }

  .mini-hero__mask {
    height: 80px;
  }

  .mini-hero__title {
    font-size: rem(40);
  }
}

@media (max-width: $width--mobile-small) {
  .mini-hero {
    height: 50px;
  }

  .mini-hero__mask {
    height: 50px;
  }
}
